<div class="mt-10 mb-10">
    <div class="flex flex-col justify-center items-center">
        <div>
            <h2 class="text-center mb-10 text-4xl font-bold">Lista de tareas</h2>
        </div>
        <div class="w-3/4">
            <div class="flex flex-col justify-center items-center" *ngIf="listaTareaRecibida.length<=0">
                <img style="width: 200px;" src="https://img.icons8.com/stickers/512/task-completed--v2.png" alt="">
                <p class="text-center m-2 p-2 font-bold">Agrega tareas para comenzar!!..</p>
            </div>

            <div *ngIf="listaTareaRecibida.length>0" id="accordion-color" data-accordion="collapse" data-active-classes="bg-blue-100 dark:bg-gray-800 text-blue-600 dark:text-white">
                <div *ngFor="let tarea of listaTareaRecibida; index as i">
                    <h2 id="{{i + 1}}">
                        <div class="flex">
                            <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-2 border-blue-500  focus:ring-4  dark:border-blue-500 dark:text-black focus:bg-blue-100 focus:text-white dark:focus:bg-blue-500" attr.data-accordion-target="{{'#accordion-' + (i+1)}}" aria-expanded="false" attr.aria-controls="{{'accordion-' + (i+1)}}">
                                <span>{{(i+1)+ ". " +tarea.nombre}}</span>
                            </button>
                            <button type="button" (click)="borrarTarea(i)" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium text-sm px-5 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </h2>
                    <div id="{{'accordion-' + (i+1)}}"  attr.aria-labelledby="{{i+1}}">
                    <div class="p-2 font-light border border-b-1 border-gray-200 dark:border-gray-700 dark:bg-blue-100">
                        <p class="mb-2 text-center text-black overflow-x-auto">{{tarea.descripcion}}</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  