<div class="mt-10 mb-10">
    <div>   
        <h1 class="text-center text-4xl font-bold">Tareas</h1>
    </div>
    <div>
         <form class="flex flex-col justify-center items-center mt-10">
            <div class="mb-3">
                <input class="form__input"  type="text" placeholder="ingresar nombre de tarea" autofocus>
            </div>
            <div class="mb-3">
                <textarea style="resize: none;" class="form__input" name="" id="" cols="10" rows="5" placeholder=" ingresar descripcion"></textarea>
            </div>
            <div class="mb-3">
                <button class="bg-blue-600 rounded text-white py-2 px-5">Guardar</button>
            </div>
         </form>   
    </div>
</div>

