<app-c1></app-c1>
<main class="mt-10 mb-10">
    <div class="mt-5 mb-10">
        <h1 class="text-4xl text-center font-bold"> <i class="fa-solid fa-face-smile text-blue-600 "></i> {{titulo}}</h1>
    </div>
    <div class="grid w-full px-5 gap-6 md:grid-cols-2 ">
        <div class="border div__form">
            <app-c3 (onEnviarTarea)="listaTareaGlobal=$event" ></app-c3>
        </div>
        <div class="border div__form">
            <app-c4 [listaTareaRecibida]="listaTareaGlobal"></app-c4>
        </div>
    </div>
</main>
<app-c2></app-c2>